
     
       <%= render 'layouts/navbar.html.erb' %>

        
        <!-- Header / Profile Basic Information --> 
        <div id="header">
            <div class="container">
                
                <div class="col-sm-3 col-xs-4">
                    <div class="thumbnail">
<!-- Profile Picture Here -->
                        
                        <%= image_tag "no_profile_picture.png" %>

                    </div>
                </div><!-- .col** -->
                
                <div class="col-sm-7 col-xs-8">
<!-- User's Name Here -->
                    <label class="name"><%= @user.fullname %></label>
<!-- Job Title Here -->
                    <label class="job"><%= "#{@user.jobtitle} / #{@user.jobrole}" %></label>

                    <label class="about-title">About</label>
<!-- About Paragraph Here -->
                    <p class="about"><%= @profile.about %></p><!-- .about -->
                </div><!-- .col** -->
                
                <div class="col-xs-12 right">
                    <button class="btn btn-info" tabindex="0"><i class="fa fa-envelope">&nbsp;&nbsp;Message</i></button>
                    <div class="btn-group hide">
                        <button type="button" class="btn btn-default dropdown-toggle icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fa fa-cog icon-spin"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Setting</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Log Out&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul><!-- .dropdown-menu -->
                    </div><!-- .btn-group -->
                </div><!-- .right -->
                
            </div><!-- .container -->
        </div><!-- #header -->
        
        <div class="container-fluid" id="ProfileBody">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 col-xs-5 col-xs-offset-0" id="jobs">
                    
<!-- Add Job Button Here-->
                    <% if @profile.id == current_user.id %>
                        <%= link_to 'Add Project', new_profile_project_path(@profile.id), class: 'btn btn-primary', tabindex: '0'%>
                        	<!-- <span class="fa fa-plus icon-spin"></span> -->
                    <% end %>
                   
                    
                    
                    
                    
                    
                  <%= render @profile.projects.reverse %>
                


                    
<!-- Load More Button Here-->
                    <!-- Load More Button -->
                    <!-- <button class="btn btn-default btn-lg full-width">Load More...</button> -->

                </div><!-- #jobs -->
                
                <!-- Statues Column -->
                <div class="col-sm-6 col-xs-7 statues-column">

                    <!-- Write Somthing Textarea -->
                    <div class="new-post">
                            <%= form_for @post do |f| %>
<!-- New Post textarea Here -->
                                <%= f.text_area :content, class: 'form-control', id: 'textarea', placeholder: 'Write Something...', rows: '4' %>
                            <div class="pull-left">
                                <div class="form-group">
<!-- At Marketawy Checkbox Here -->
                                     <%= f.check_box :marketawy, id: 'AtMarketawy' %><label for="AtMarketawy" class="unselectable">&nbsp;At marketawy</label>
                                </div><!-- .form-group -->
                            </div><!-- .pull-left -->
                            <div class="pull-right">
<!-- Submit New Post Here -->
                                    <%= f.submit :post, class: "btn btn-primary" %>
                            </div><!-- .pull-right -->
                            <!-- Clear Float side effect-->
                            <div class="clearfix"></div>
                        <% end %>
                    </div><!-- .new-post -->
                    
                    
                    
                    

<% @user.posts.reverse.each do |post| %>




                        <!-- Start Of Statue Block -->
                        <!-- Add "hot" class if Hot Post -->
                        <div class="post" tabindex="0">
                            <div class="picture">
<!-- Post Picture Here -->
                                <%= image_tag 'logo_shape.png', alt: "" %>
                            </div>

                            <div class="text">
                                <%if current_user == post.user %>
                                <!-- Settings button of the Post -->
                                <a href="#" class="edit-post-button pull-right"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="delete-post-button pull-right" data-message="Do you realy want to DELETE this post ?"><i class="fa fa-times"></i></a>
                                <% end %>
<!-- Post Name Here -->
                                <!-- Star Sign if Hot Post -->
                                
                                     <%= link_to current_user.fullname, profile_path(post.user.id), class: 'name' %>
                                       
                                    <%= 'at marketawy' if post.marketawy == true %>
                          

<!-- Post Content Here -->
                                <p class="content"><%= post.content %></p>

                                <% if post.user == current_user %>
                                    <div class="edit">
    <!-- Edit Post Textarea Here -->
                                        <%= form_for post do |f| %>
                                        
    <!-- Submit Edit Post Button Here-->
                                        <%= f.text_area :content, class: 'form-control', id: 'textarea', placeholder: 'Write Something...', rows: '4' %>
<!-- Edit Post Textarea Here -->
<!-- Submit Edit Post Button Here-->
                                        <%= f.submit 'edit', class: "btn btn-primary pull-right" %>

                                        <% end %>
                                    </div><!-- .edit -->
                                <% end %>
                            </div><!-- .text -->
                            
                    <% post.comments.each do |comment| %>
                <!-- Comment Block -->
                            <div class="comment">
                                <div class="comment-picture">
<!-- Comment Picture Here -->
                                   
                                     <%= image_tag 'logo_shape.png', alt: "" %>
                                </div><!-- .comment-picture -->
                                
                                <div class="comment-text">
                                    <!-- Settings button of the Post -->
                                    <a href="#" class="edit-post-button pull-right"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="delete-post-button pull-right" data-message="Do you realy want to DELETE this Comment ?"><i class="fa fa-times"></i></a>

<!-- Comment Name Here -->          <% @commentuser = User.find(comment.user_id) %>
                                    <a class="comment-name"><%= @commentuser.fullname %></a>
<!-- Comment Name Here -->
                                    <p class="comment-content"><%= comment.comment %></p><!-- .comment-content -->

                                    
                                    <div class="edit">
<!-- Edit Comment Textarea Here -->
                                            <textarea id="textarea" class="form-control" rows="2"></textarea>
<!-- Submit Edit Comment Button Here-->
                                            <button type="button" class="btn btn-primary btn-sm pull-right">Submit</button>
                                    </div><!-- .edit -->

                                </div><!-- .text -->
                            </div><!-- .comment -->

                    <% end %> <!-- comment loop -->
                         <%= form_tag "/posts/add_new_comment" do %>
                                <%= hidden_field_tag "id", post.id %>
                                <div class="form-group-sm">
                                <%= text_area_tag "comment[comment]", "", class: 'form-control', placeholder: 'Throw a comment..', rows: '1' %>
                                </div>
                                <%= submit_tag "Post Comment", class: 'btn btn-primary btn-xs pull-right' %>
                              <% end %>
                            
                        <div class="clearfix"></div>
                    </div>    


        <% end %> <!-- post loop -->
                   
                    
<!-- Load More Button Here-->
                    <!-- Load More Button -->
                    <!-- <button class="btn btn-default btn-lg full-width">Load More...</button> -->

                </div><!-- .statues-column -->
            </div>
        </div>