
     
       <%= render 'layouts/navbar.html.erb' %>

        
        <!-- Header / Profile Basic Information --> 
        <div id="header">
            <div class="container">
                
                <div class="col-sm-3 col-xs-4">
                    <div class="thumbnail">
<!-- Profile Picture Here -->
                        
                        <%= image_tag "no_profile_picture.png" %>

                    </div>
                </div><!-- .col** -->
                
                <div class="col-sm-7 col-xs-8">
<!-- User's Name Here -->
                    <label class="name"><%= @profile.user.fullname %></label>
<!-- Job Title Here -->
                    <label class="job"><%= "#{@profile.user.jobtitle} / #{@profile.user.jobrole}" %></label>

                    <label class="about-title">About</label>
<!-- About Paragraph Here -->
                    <p class="about"><%= @profile.about %></p><!-- .about -->
                </div><!-- .col** -->
                
                <div class="col-xs-12 right">
                    <button class="btn btn-info" tabindex="0"><i class="fa fa-envelope">&nbsp;&nbsp;Message</i></button>
                    <div class="btn-group hide">
                        <button type="button" class="btn btn-default dropdown-toggle icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fa fa-cog icon-spin"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Setting</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Log Out&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul><!-- .dropdown-menu -->
                    </div><!-- .btn-group -->
                </div><!-- .right -->
                
            </div><!-- .container -->
        </div><!-- #header -->
        
        <div class="container-fluid" id="ProfileBody">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 col-xs-5 col-xs-offset-0" id="jobs">
                    
<!-- Add Job Button Here-->
                    <%= link_to 'Add Project', new_profile_project_path(@profile.id), class: 'btn btn-primary', tabindex: '0'%>
                    	<!-- <span class="fa fa-plus icon-spin"></span> -->
                   
                    
                    
                    
                    
                    
                  <%= render @profile.projects.reverse %>
                


                    
<!-- Load More Button Here-->
                    <!-- Load More Button -->
                    <!-- <button class="btn btn-default btn-lg full-width">Load More...</button> -->

                </div><!-- #jobs -->
                
                <!-- Statues Column -->
                <div class="col-sm-6 col-xs-7 statues-column">

                    <!-- Write Somthing Textarea -->
                    <div class="new-post">
                            <%= form_for @post do |f| %>
<!-- New Post textarea Here -->
                                <%= f.text_area :content, class: 'form-control', id: 'textarea', placeholder: 'Write Something...', rows: '4' %>
                            <div class="pull-left">
                                <div class="form-group">
<!-- At Marketawy Checkbox Here -->
                                     <%= f.check_box :marketawy, id: 'AtMarketawy' %><label for="AtMarketawy" class="unselectable">&nbsp;At marketawy</label>
                                </div><!-- .form-group -->
                            </div><!-- .pull-left -->
                            <div class="pull-right">
<!-- Submit New Post Here -->
                                    <%= f.submit :post, class: "btn btn-primary" %>
                            </div><!-- .pull-right -->
                            <!-- Clear Float side effect-->
                            <div class="clearfix"></div>
                        <% end %>
                    </div><!-- .new-post -->
                    
                    
                    
                    <%= render @user.posts.reverse %>
                   
                    
<!-- Load More Button Here-->
                    <!-- Load More Button -->
                    <!-- <button class="btn btn-default btn-lg full-width">Load More...</button> -->

                </div><!-- .statues-column -->
            </div>
        </div>