
     

        <%= render 'layouts/navbar.html.erb' %>

        
        <div id="Settings">
            <div class="container">
                    <div class="col-md-6 col-sm-9 col-md-offset-4 col-sm-offset-3">
                        <div class="page-header">
                            <h1>Settings</h1>          
                        </div>
<!-- Add Job Form Here -->
                        
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>

                            <div class="form-group">
                                <label for="Email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
<!-- Email Input Here -->
                                    <!-- Put the value of the current email address -->
                                    
                                    <%= f.email_field :email, id: 'Email', class: 'form-control', value: current_user.email %>
                                </div><!-- .input-group -->
                            </div><!-- .form-group -->

                            <hr>
                            
                            <div class="form-group">
                                <label for="Email" class="sr-only">Old Password</label>
<!-- Old Password Input Here -->
                                
                                <%= f.password_field :current_password, id: 'oldPassword', class: 'form-control' %>
                            </div><!-- .form-group -->
                            
                            <br>
                            
                            <div class="form-group">
                                <label for="NewPassword" class="sr-only">New Password</label>
<!-- New Password Input Here -->
                               
                                <%= f.password_field :password, id: 'NewPassword', class: 'form-control' %>
                            </div><!-- .form-group -->
                            
                            <div class="form-group">
                                <label for="RetypeNewPassword" class="sr-only">Retype New Password</label>
<!-- Retype New Password Input Here -->
                               
                                <%= f.password_field :password_confirmation, id: 'RetypeNewPassword', class: 'form-control' %>
                            </div><!-- .form-group -->

                            <hr>
<!-- Image Input Here -->                            
                            <div class="form-group">
                                <label for="ImageInput">Upload New Pictre Profile</label>
                                <input type="file" id="ImageInput" class="form-control">
                            </div>
<!-- Image Preview Here -->
                            <div class="thumbnail">
                                <img src="#" alt="No Image Selected" id="ImagePreview" class="form-control">
                            </div>
                            
                            <hr>
                
                            <%= f.submit 'Submit', class: "btn btn-primary btn-lg full-width"%>
                        <% end %>
                    </div><!-- .col** -->
            </div><!-- .container -->
        </div><!-- #Settings -->
        
        
