<%= form_for @project do |f| %>
  <% if @roject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :fb %><br>
    <%= f.text_field :fb %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :plus %><br>
    <%= f.text_field :plus %>
  </div>
  <div class="field">
    <%= f.label :insta %><br>
    <%= f.text_field :insta %>
  </div>
  <div class="field">
    <%= f.label :youtube %><br>
    <%= f.text_field :youtube %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :other_link %><br>
    <%= f.text_field :other_link %>
  </div>
  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.text_field :pr`ofile_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
