<p id="notice"><%= notice %></p>

<p>
  <strong>About:</strong>
  <%= @project.about %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @project.fb %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @project.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @project.linkedin %>
</p>

<p>
  <strong>Plus:</strong>
  <%= @project.plus %>
</p>

<p>
  <strong>Insta:</strong>
  <%= @project.insta %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @project.youtube %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<p>
  <strong>Other link:</strong>
  <%= @project.other_link %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @project.profile %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |

